@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}


.container{
  padding: 1rem;
  display: flex;
  flex-direction: column;
  width: 400px;
  gap: 1rem;
}

.container h1{
  margin-bottom: 1rem;
  font-size: 1.2rem;
  font-weight: 500;
  border-bottom: 1px solid #B2DFDB;
  width: fit-content;
  color: #3CB371;
}

.course-card{
  display: flex;
  padding: 1rem;
  flex-direction: column;
  gap: 10px;
  border: 2px solid #B2DFDB;
  border-radius: 10px;
  transition: 0.3s ease-in-out all;
}.course-card:hover{
   background-color: #bbcfce4b;
   border-color: #a5ddca;
 }

.course-card p {
  font-size: 20px;
}

.special-offer{
  background-color: #FFBF00;
  width: fit-content;
  padding: 5px;
  border-radius: 3px;
}

#course-price{
  color: #4CAF50;
  font-weight: bold;
}

button{
  width: 150px;
  height: 50px;
  background-color: #3CB371;
  border: 0;
  outline: 0;
  border-radius: 3px;
  font-size: 1.3rem;
  color: #FFF;
  transition: 0.3s ease-in background-color;
  cursor: pointer;
}
button:hover{
  background-color: #2d8856;
}
.new-courses{
  background-color: #FFFF8F;
  width: fit-content;
  padding: 10px;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 3px;
}


@media (max-width: 400px) {
  .container h1 {
    font-size: 2rem;
  }
  button{
    padding: 0.5rem;
  }
  #course-price{
    font-size: 2rem;
  }
}
